import pandas as pd 
# how to scrapping data

In [6]:
url = "https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"

In [3]:
tables = pd.read_html(url)

In [4]:
type(tables)

list

In [7]:
len(tables)

1

In [11]:
fundraising = tables[0]

In [12]:
fundraising

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336"
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532"
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536"
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725"
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425"
5,2017/2018,PDF,"$104,505,783","$81,442,265","$21,619,373","$134,949,570"
6,2016/2017,PDF,"$91,242,418","$69,136,758","$21,547,402","$113,330,197"
7,2015/2016,PDF,"$81,862,724","$65,947,465","$13,962,497","$91,782,795"
8,2014/2015,PDF,"$75,797,223","$52,596,782","$24,345,277","$77,820,298"
9,2013/2014,PDF,"$52,465,287","$45,900,745","$8,285,897","$53,475,021"
10,2012/2013,PDF,"$48,635,408","$35,704,796","$10,260,066","$45,189,124"
11,2011/2012,PDF,"$38,479,665","$29,260,652","$10,736,914","$34,929,058"
12,2010/2011,PDF,"$24,785,092","$17,889,794","$9,649,413","$24,192,144"
13,2009/2010,PDF,"$17,979,312","$10,266,793","$6,310,964","$14,542,731"
14,2008/2009,PDF,"$8,658,006","$5,617,236","$3,053,599","$8,231,767"
15,2007/2008,PDF,"$5,032,981","$3,540,724","$3,519,886","$5,178,168"
16,2006/2007,PDF,"$2,734,909","$2,077,843","$654,066","$1,658,282"
17,2005/2006,PDF,"$1,508,039","$791,907","$736,132","$1,004,216"
18,2004/2005,PDF,"$379,088","$177,670","$211,418","$268,084"
19,2003/2004,PDF,"$80,129","$23,463","$56,666","$56,666"

In [13]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336"
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532"
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536"
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725"
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425"

In [16]:
type(fundraising)

pandas.core.frame.DataFrame

In [17]:
fundraising.dtypes

Year                         object
Source                       object
Revenue                      object
Expenses                     object
Asset rise                   object
Net assets at end of year    object
dtype: object

In [28]:
fundraising['Rev']= fundraising['Revenue'].str[2:] # Remove the $ sign Revenue

In [29]:
fundraising

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year,Rev
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336","80,174,103"
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532","54,686,521"
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536","62,886,686"
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725","29,234,327"
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425","20,067,266"
5,2017/2018,PDF,"$104,505,783","$81,442,265","$21,619,373","$134,949,570","04,505,783"
6,2016/2017,PDF,"$91,242,418","$69,136,758","$21,547,402","$113,330,197","1,242,418"
7,2015/2016,PDF,"$81,862,724","$65,947,465","$13,962,497","$91,782,795","1,862,724"
8,2014/2015,PDF,"$75,797,223","$52,596,782","$24,345,277","$77,820,298","5,797,223"
9,2013/2014,PDF,"$52,465,287","$45,900,745","$8,285,897","$53,475,021","2,465,287"
10,2012/2013,PDF,"$48,635,408","$35,704,796","$10,260,066","$45,189,124","8,635,408"
11,2011/2012,PDF,"$38,479,665","$29,260,652","$10,736,914","$34,929,058","8,479,665"
12,2010/2011,PDF,"$24,785,092","$17,889,794","$9,649,413","$24,192,144","4,785,092"
13,2009/2010,PDF,"$17,979,312","$10,266,793","$6,310,964","$14,542,731","7,979,312"
14,2008/2009,PDF,"$8,658,006","$5,617,236","$3,053,599","$8,231,767",",658,006"
15,2007/2008,PDF,"$5,032,981","$3,540,724","$3,519,886","$5,178,168",",032,981"
16,2006/2007,PDF,"$2,734,909","$2,077,843","$654,066","$1,658,282",",734,909"
17,2005/2006,PDF,"$1,508,039","$791,907","$736,132","$1,004,216",",508,039"
18,2004/2005,PDF,"$379,088","$177,670","$211,418","$268,084","79,088"
19,2003/2004,PDF,"$80,129","$23,463","$56,666","$56,666","0,129"

In [21]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year,Rev
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336","80,174,103"
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532","54,686,521"
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536","62,886,686"
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725","29,234,327"
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425","20,067,266"

In [30]:
fundraising['Rev']= fundraising['Rev'].str.replace(',', ' ')

In [31]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year,Rev
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336",80 174 103
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532",54 686 521
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536",62 886 686
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725",29 234 327
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425",20 067 266

In [32]:
fundraising.tail()

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year,Rev
15,2007/2008,PDF,"$5,032,981","$3,540,724","$3,519,886","$5,178,168",032 981
16,2006/2007,PDF,"$2,734,909","$2,077,843","$654,066","$1,658,282",734 909
17,2005/2006,PDF,"$1,508,039","$791,907","$736,132","$1,004,216",508 039
18,2004/2005,PDF,"$379,088","$177,670","$211,418","$268,084",79 088
19,2003/2004,PDF,"$80,129","$23,463","$56,666","$56,666",0 129

In [38]:
fundraising.shape

(20, 7)

In [40]:
fundraising.dtypes

Year                         object
Source                       object
Revenue                      object
Expenses                     object
Asset rise                   object
Net assets at end of year    object
Rev                          object
dtype: object

In [41]:
fundraising['Expen']= fundraising['Expenses'].str[2:]

In [42]:
fundraising

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year,Rev,Expen
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336",80 174 103,"69,095,381"
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532",54 686 521,"45,970,915"
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536",62 886 686,"11,839,819"
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725",29 234 327,"12,489,397"
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425",20 067 266,"1,414,010"
5,2017/2018,PDF,"$104,505,783","$81,442,265","$21,619,373","$134,949,570",04 505 783,"1,442,265"
6,2016/2017,PDF,"$91,242,418","$69,136,758","$21,547,402","$113,330,197",1 242 418,"9,136,758"
7,2015/2016,PDF,"$81,862,724","$65,947,465","$13,962,497","$91,782,795",1 862 724,"5,947,465"
8,2014/2015,PDF,"$75,797,223","$52,596,782","$24,345,277","$77,820,298",5 797 223,"2,596,782"
9,2013/2014,PDF,"$52,465,287","$45,900,745","$8,285,897","$53,475,021",2 465 287,"5,900,745"
10,2012/2013,PDF,"$48,635,408","$35,704,796","$10,260,066","$45,189,124",8 635 408,"5,704,796"
11,2011/2012,PDF,"$38,479,665","$29,260,652","$10,736,914","$34,929,058",8 479 665,"9,260,652"
12,2010/2011,PDF,"$24,785,092","$17,889,794","$9,649,413","$24,192,144",4 785 092,"7,889,794"
13,2009/2010,PDF,"$17,979,312","$10,266,793","$6,310,964","$14,542,731",7 979 312,"0,266,793"
14,2008/2009,PDF,"$8,658,006","$5,617,236","$3,053,599","$8,231,767",658 006,",617,236"
15,2007/2008,PDF,"$5,032,981","$3,540,724","$3,519,886","$5,178,168",032 981,",540,724"
16,2006/2007,PDF,"$2,734,909","$2,077,843","$654,066","$1,658,282",734 909,",077,843"
17,2005/2006,PDF,"$1,508,039","$791,907","$736,132","$1,004,216",508 039,"91,907"
18,2004/2005,PDF,"$379,088","$177,670","$211,418","$268,084",79 088,"77,670"
19,2003/2004,PDF,"$80,129","$23,463","$56,666","$56,666",0 129,"3,463"

In [43]:
fundraising['Expen']= fundraising['Expen'].str.replace(',', ' ')

In [44]:
fundraising

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year,Rev,Expen
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336",80 174 103,69 095 381
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532",54 686 521,45 970 915
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536",62 886 686,11 839 819
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725",29 234 327,12 489 397
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425",20 067 266,1 414 010
5,2017/2018,PDF,"$104,505,783","$81,442,265","$21,619,373","$134,949,570",04 505 783,1 442 265
6,2016/2017,PDF,"$91,242,418","$69,136,758","$21,547,402","$113,330,197",1 242 418,9 136 758
7,2015/2016,PDF,"$81,862,724","$65,947,465","$13,962,497","$91,782,795",1 862 724,5 947 465
8,2014/2015,PDF,"$75,797,223","$52,596,782","$24,345,277","$77,820,298",5 797 223,2 596 782
9,2013/2014,PDF,"$52,465,287","$45,900,745","$8,285,897","$53,475,021",2 465 287,5 900 745
10,2012/2013,PDF,"$48,635,408","$35,704,796","$10,260,066","$45,189,124",8 635 408,5 704 796
11,2011/2012,PDF,"$38,479,665","$29,260,652","$10,736,914","$34,929,058",8 479 665,9 260 652
12,2010/2011,PDF,"$24,785,092","$17,889,794","$9,649,413","$24,192,144",4 785 092,7 889 794
13,2009/2010,PDF,"$17,979,312","$10,266,793","$6,310,964","$14,542,731",7 979 312,0 266 793
14,2008/2009,PDF,"$8,658,006","$5,617,236","$3,053,599","$8,231,767",658 006,617 236
15,2007/2008,PDF,"$5,032,981","$3,540,724","$3,519,886","$5,178,168",032 981,540 724
16,2006/2007,PDF,"$2,734,909","$2,077,843","$654,066","$1,658,282",734 909,077 843
17,2005/2006,PDF,"$1,508,039","$791,907","$736,132","$1,004,216",508 039,91 907
18,2004/2005,PDF,"$379,088","$177,670","$211,418","$268,084",79 088,77 670
19,2003/2004,PDF,"$80,129","$23,463","$56,666","$56,666",0 129,3 463

In [45]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Net assets at end of year,Rev,Expen
0,2022/2023,PDF,"$180,174,103","$169,095,381","$15,619,804","$254,971,336",80 174 103,69 095 381
1,2021/2022,PDF,"$154,686,521","$145,970,915","$8,173,996","$239,351,532",54 686 521,45 970 915
2,2020/2021,PDF,"$162,886,686","$111,839,819","$50,861,811","$231,177,536",62 886 686,11 839 819
3,2019/2020,PDF,"$129,234,327","$112,489,397","$14,674,300","$180,315,725",29 234 327,12 489 397
4,2018/2019,PDF,"$120,067,266","$91,414,010","$30,691,855","$165,641,425",20 067 266,1 414 010

In [47]:
fundraising.dtypes

Year                         object
Source                       object
Revenue                      object
Expenses                     object
Asset rise                   object
Net assets at end of year    object
Rev                          object
Expen                        object
dtype: object